svg{
  // background-color: red;
}
#wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section{
  height: 100vh;
  &.assets{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .phone{
      position: relative;
      width: 344px;
      height: 710px;
      background-color: #232C39;
      box-shadow: 0 22px 64px 0 rgba(0,0,0,0.40);
      border-radius: 52px;
      .screen{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        height: 569px;
        background-color: #383E45;
        overflow: hidden;
        transition: 0.3s;
        &.hide{
          // opacity: 0;
          display: none;
        }
      }
    }
  }
  &.easing{
    width: 770px;
    .list{
      height: 260px;
      background-color: #36474E;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
      ul{
        padding: 0;
        margin: 0;
        li{
          height: 65px;
          list-style-type: none;
          border-bottom: 1px solid #262525;
          &.on{
            background-color: #00867C;
          }
          button{
            padding: 0 0 0 25px;
            width: 100%;
            height: 100%;
            color: #FFF;
            font-size: 20px;
            text-align: left;
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 260px);
      background-color: #1D313A;
      .graph{
        position: relative;
        // width: 290px;
        .bezier-handle{
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: #80FFFF;
          border-radius: 20px;
          cursor: pointer;
        }
        .top{
          top: 0;
          left: 200px;
        }
        .bottom{
          top: 200px;
          left: 0;
        }
        .cubicBezierValue{
          font-size: 20px;
          color: #FFF;
          font-weight: 300;
        }
        .duration{
          font-size: 20px;
          color: #FFF;
          font-weight: 300;
          input{
            margin-left: 7px;
            width: 52px;
            height: 34px;
            border: 0;
            border-radius: 4px;
            background-color: #4E4E4E;
            text-align: right;
            color: #FFF;
          }
        }
      }
    }
  }
}
.tap{
  cursor: pointer;
  &.floatingBtn{
    position: absolute;
    right: 23px;
    bottom: 26px;
    .button{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 58px;
      height: 58px;
      border-radius: 100%;
      background-color: #80FFFF;
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
      z-index: 2;
      svg{
        transition: all 0.3s;
      }
    }
    .child{
      position: absolute;
      bottom: 4px;
      left: 4px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: red;
      transition: all 0.3s;
      &.child.child01.animate{
        transform: translateY(-64px);
      }
      &.child.child02.animate{
        transform: translateY(-124px);
      }
      &.child.child03.animate{
        transform: translateY(-184px);
      }
    }
    &.animate{
      svg{
        transform: rotate(45deg);
      }
      .child{
        &.child01{
          transform: translateY(-64px);
        }
        &.child02{
          transform: translateY(-124px);
        }
        &.child03{
          transform: translateY(-184px);
        }
      }
    }
  }
  &.transforming{
    width: 100px;
    height: 100px;
    background-color: #80FFFF;
    border-radius: 3px;
  }
}
.materialTransition{
  position: absolute;
  width: 320px;
  height: 200px;
  left: 100px;
  top: 400px;
  overflow: hidden;
  .button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58px;
    height: 58px;
    border-radius: 100%;
    background-color: #80FFFF;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
    cursor: pointer;
    transition: all 0.3s;
    transform-origin: 50% 50%;
  }
  &.animate{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
    .button{
      transform: translate(-50%, -50%) scale(8);
      box-shadow: 0 0 6px 0 rgba(0,0,0,0), 0 6px 6px 0 rgba(0,0,0,0);
    }
  }
}
